<form id="lti-launch-form" method="POST" target="lti-launch"></form>

<div class="panel">
  <div class="row">
    <div class="large-12 columns">
      <div class="row collapse">
        <div class="small-10 columns">
          {{input type="text" placeholder="Launch URL(e.g. http://localhost:3000/my_app)" value=launchUrl}}
        </div>
        <div class="small-2 columns">
          <a href="#" {{action "launch"}} class="button secondary postfix">Launch</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <iframe name="lti-launch" style="width: 100%; height: 225px; background-color: #fff; border: 0px;"></iframe>
    </div>
  </div>
  {{#if isSubmitted}}
    {{#if isCompleted}}
      <a href="#" {{action "goToNextStep"}} class="button success expand" style="margin-top: 15px;">On to the next lesson!</a>
    {{else}}
      <div class="row">
        <div class="large-12 columns text-center">
          {{#if isIncorrect}}
            <div data-alert class="alert-box alert" style="margin-top: 15px; margin-bottom: 0px;">
              You have not entered the correct values
            </div>
          {{/if}}

          <form id="submit-assignment-form" {{action "submitAssignment" on="submit"}} style="padding: 15px;">
            {{#each fieldName in validateFieldNames}}
              <div class="row">
                <div class="small-4 columns">
                  <label for="right-label" class="right inline">{{fieldName}}</label>
                </div>
                <div class="small-8 columns">
                  <input type="text" id="right-label" {{bind-attr name=fieldName}} />
                </div>
              </div>
            {{/each}}
            <div class="row">
              <div class="small-8 small-offset-4 columns">
                <button type="submit" class="button expand">Submit Assignment</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    {{/if}}
  {{/if}}
</div>

<div class="row">
  <div class="large-12 columns text-center">
    <small>Remember non-https will not launch by defeault in many browsers</small>
  </div>
</div>