<section class="header">
  <h2>{{assignmentData.title}}</h2>
  <p>{{assignmentData.description}}</p>
</section>

<div class="row">
  <div class="large-3 medium-4 columns">
    <ul class="side-steps">
      {{#each step in model.steps}}
      <li {{bind-attr class=":step step.isActive:active step.isCompleted:step-completed"}} {{action 'goToStep' step}}>
        {{#if step.isCompleted}}
          <i class="fa fa-check-circle right"></i>
        {{else}}
          <i class="fa fa-circle-thin right"></i>
        {{/if}}
        {{step.name}}
      </li>
      {{/each}}
    </ul>
  </div>
  <div class="large-9 medium-8 columns step-contents">
    {{outlet}}
  </div>
</div>